body{
    background-image: url(../images/connectwork.png);
   
}
/* sticky footer  */
#footer { 
    position: fixed; 
    bottom: 0; 
    width: 100%; 
  line-height: 40px;
    text-align: center; 
    font-size: 12px;
}
#contact-form{

    background-color: darkgray;
    padding: 15px;   
    border-style: solid;
    border-color:goldenrod; 
    border-radius: 10px;
}
.contact-me{
    margin-left: 30%;
}
.about-me{
    color: white;
    padding: 5px;
    margin-left: 10px;
  
}
h2{
    color: white;
    text-transform: uppercase;
  
}

.name{
    margin-left: 13%;
text-transform: uppercase;
font-weight: bold;

}
.navbar-collapse{
   margin-left: 30%;
}
.picture{
    padding: 5px;
    margin: 10px;
    border-style: groove;
    border-width: 10px;
    border-color: white;
  
}

