body{
    background-image: url(../images/connectwork.png);
   
}

#contact-form{

    background-color: darkgray;
    padding: 15px;   
    border-style: solid;
    border-color:goldenrod; 
    border-radius: 10px;
}
.contact-me{
    margin-left: 10%;
}
.about-me{
    color: white;
    padding: 5px;
    margin-left: 10px;
  
}
h2{
    color: white;
    text-transform: uppercase;
  
}

.name{
text-transform: uppercase;
font-weight: bold;

}

.picture{
    padding: 5px;
    margin: 10px;
    border-style: groove;
    border-width: 10px;
    border-color: white;
  
}

